//Global Colors
$primary-color: #fe538d;
$secondary-color: #ffb703;
$text-color:#000;
$text-white:#fff;
$dark-background: #222725;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Rubik", serif;
}

h1{
    font-size: 4.5em;
}

h2{
    font-size: 3em;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.2em;
}

ul{
    margin-left: 0;
    padding-left: 0;
    li{
        list-style: none;
    }
}

.btn-primary{
    background-color:$primary-color;
    border: 1px solid $primary-color;
    padding: 15px 20px;
    font-size:1em;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}

.btn-secondary{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    padding: 15px 20px;
    font-size:1em;
    font-weight: 500;
    text-transform: uppercase;
    &:hover{
        background-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

header{
    nav{
        .nav-link{
            text-transform: uppercase;
            font-size: 1em;
            color: #222725;
            font-weight: 500;
            margin-left: 20px;
        }

        .logo{
            text-transform: uppercase;
            font-size: 1em;
            font-weight: 500;
            span{
                color: $primary-color;
            }
        }
    }
}


footer{
    background-color: $dark-background;
    color: $text-white;
    h3 {
        font-size: 1.5em;
        color: $secondary-color;
    }
    a{
        color: $text-white;
        font-size: 1.2em;
        text-decoration: none;
    }

    ul{
        li{
            padding: 5px 0;
        }
    }
}

.section-1{
    .hero{
        
        background: linear-gradient(to right, #000c, #0000), url(../images/hero.jpg);
        min-height: 800px;
        color: $text-white;
        
        span{
            color: $secondary-color;
            font-size: 1.5em;
            font-weight: 500;
        }
    }
}

.section-2{
    img{
        border-radius: 40px;
    }
     span {
        color: #fe538d;
        font-size: 1.2em;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

